


<%- include("./partials/header.ejs"); %>
<h1> Compose</h1>


<form action="/compose" method="post">
    <label for="newPost">Title</label><br>
<input type="text" name="postTitle"  size="98"><br>
<label for="postArea">Post</label><br>
<textarea name="postBody" id="posted" cols="100" rows="3"></textarea><br>
<button type="submit" name="button">Publish</button>
</form>
<%- include("./partials/footer.ejs"); %>